table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    color: gray;
    padding: 10px;
}

tbody td {
    padding: 10px;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}
